




<div id="page-box" class="wrapper animated fadeInDownBig">
<div class="wrap">
<div class="grids">
<div class="grid-12">
<h1><%= @event.title %></h1>
<hr/>
  <%=image_tag("date.png")%> April,24 2013 <%=image_tag("user.png")%> Admin
<hr/>
<div class="event1Img">
  <%=image_tag("eventpage/"+@event.image+"", size: "1000x400")%>
</div>    
<h2>About</h2>
<p><%= @event.text%></p>  

<div><a href=<%= root_path %> >Go to home</a></div>

<%= social_share_button_tag(riviera_eventpage_path(:event => @event.id) , :image => "images/date.png", desc: "The summary of page", via: "MyTwitterName") %>


</div>
</div>
</div>
</div>

<script>

$(document).ready(function(){
    $('#loading').fadeOut(2000);
    //$('#loading').hide(); 
  });
</script>

<script src="/assets/pageload.js"></script>
<script src="/assets/bxslider.js"></script>