        <!-- SIDEBAR -->
        <aside class="animated fadeInLeftBig">
            <div id="logo">
                <h1>Riviera</h1>
            </div>
            <div class="sidebar-audio">
                <audio class="sidebaraudio" preload="auto" controls>
                    <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
                        <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
                            <source src="audio/BlueDucks_FourFlossFiveSix.wav">
                </audio>
            </div>
            <!-- MENU -->
            <div id="toggle-menu">
                <a class="toggleMenu" href="#">Menu</a>
                <nav>
                    <ul>
                        <li>
                            <a href=<%= riviera_about_path%> >About Page</a>
                        </li>
                        <li>
                            <a href=<%= riviera_blog_path%> >Blog Page</a>
                        </li>
                        <li>
                            <a href=<%= riviera_event_path%> >Events Page</a>
                        </li>
                        <li>
                            <a href=<%= riviera_menu_path%> >Menu Page</a>
                        </li>
                        <li>
                            <a href="#">Galeries</a>
                            <ul>
                                <li>
                                    <a href=<%= riviera_gallery_path%> >Photo Gallery</a>
                                </li>
                                <li>
                                    <a href=<%= riviera_video_path%> >Video Gallery</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Other Pages</a>
                            <ul>
                                <li>
                                    <a href="layout">Layout Page</a>
                                </li>
                                <li>
                                    <a href="elements">Elements Page</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href=<%= riviera_contact_path%>>Contact Page</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- SIDEBAR CAROUSEL -->
            <div id="sidebar-widget">
                <div class="bxslider">
                    <div class="slide-content">
                        <h5>Opening Hours</h5>
                        <p>
                            <span class="circle"><img src="images/icons/34.png" alt="" /></span>Main Menu: 12am - 12pm
                            <br/>Breakfast: 8am - 11am
                            <br/>Live Music: 8pm - 04am</p>
                    </div>
                    <div class="slide-content">
                        <h5>Every Saturday</h5>
                        <p>
                            <span class="circle"><img src="images/icons/9.png" alt="" /></span>Karaoke: 8pm - 12pm
                            <br/>DJ Hayko: 12pm - 04am</p>
                            <!--
							<a href="http://spookynet.org"><img src="http://spookynet.org/zapasowe/x.png"></a>
                            <a href="http://webdesignlab.org"><img src="http://webdesignlab.org/x.png"></a>
                            -->
                    </div>
                    <div class="slide-content">
                        <h5>Every Monday</h5>
                        <p>
                            <span class="circle"><img src="images/icons/9.png" alt="" /></span>Karaoke: 8pm - 12pm
                            <br/>Καρπούζι party: 12pm - 04am</p>
                            <!--
                            <a href="http://spookynet.org"><img src="http://spookynet.org/zapasowe/x.png"></a>
                            <a href="http://webdesignlab.org"><img src="http://webdesignlab.org/x.png"></a>
                            -->
                    </div>
                    <div class="slide-content">
                        <h5 style="margin-bottom:5px">Weather</h5>
                        
                            <span class="circle"><img src="images/icons/22.png" alt="" /></span>
                            <p id="weather" style="padding-top:0px">Θερμοκρασία στην Riviera: </p>
                            <p id="condition" style="padding-top:0px">Κατάσταση: </p>
                            <p id="eikona" style="padding-top:0px"></p>
                        
                            <!--
                            <a href="http://spookynet.org"><img src="http://spookynet.org/zapasowe/x.png"></a>
                            <a href="http://webdesignlab.org"><img src="http://webdesignlab.org/x.png"></a>
                            -->
                    </div>
                    <div class="slide-content">
                        <h5>Booking</h5>
                        <h4>
                            <a href=<%= riviera_contact_path %> >
                            <span class="circle"><img src="images/icons/26.png" alt="" /></span>575-846-9583</h4>
                            </a>
                    </div>
                </div>
                <div class="slider-custom-nav">
                    <span id="slider-prev"></span> | <span id="slider-next"></span>
                </div>
            </div>
            <!-- TRIANGLE IMAGE -->
            <div id="triangle">
                <img alt="" src="assets/triangle.png" />
            </div>
        </aside>
        <!-- CLOSE BUTTON -->
        <a id="close" class="animated" href="#"></a>
        <section id="right-column"></section>
        <!-- JS FILES -->
        <script src="/assets/custom.js"></script>

        <script type="text/javascript">
          $(document).ready(function() {
              $.simpleWeather({
                //location: 'Austin, TX',
                woeid: '12839720',
                unit: 'c',
                success: function(weather) {
                  html = '<strong>'+weather.temp+'&deg;'+weather.units.temp+'</strong>';
                  html1 = '<img src='+weather.image+'>'
                  html2 = '<strong>'+weather.currently+'</strong>'
              
                  $(html).appendTo("#weather");
                  $(html1).appendTo("#eikona");
                  $(html2).appendTo("#condition");
                },
                error: function(error) {
                  $("#weather").html('<p>'+error+'</p>');
                }
              });
            });

        </script>