<!DOCTYPE html>
<html>
<head>
  <title>Riviera</title>
  <!--
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   -->
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Styles 
  <link rel="stylesheet" href="css/general.css">
  -->
  <%= stylesheet_link_tag 'general'%>
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
  <!-- Modernizr 
  <script type='text/javascript' src='js/libs/modernizr-2.5.3.min.js'></script>
   -->
     <%= javascript_include_tag 'modernizr-2.5.3.min'%>
</head>
<body>

<%= render "layouts/header" %>
<%= yield %>

</body>
</html>
