<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="O3cXx6fuLdgiJ2CJdGasEJwkBLtdlJe0d-ulTmreuao" />
  <title>Riviera Beach Bar</title>
  <!--
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   -->
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta description="Riviera beach Bar is a beach bar near Aggeloxwri,Thessaloniki, Greece. We are open from 1 May to 30 Sept. You can relax on the beach, party in the bar and eat greek dishes in our restaurant." />
  <meta name="keywords" content="riviera, beach , bar, rivierabeachbar, ποτό, παραλία, φαγητό, θαλασσά, χαλάρωση " />

  <!-- Styles 
  <link rel="stylesheet" href="css/general.css">
  -->
  <%= stylesheet_link_tag 'general'%>
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Damion' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
  <!-- Modernizr 
  <script type='text/javascript' src='js/libs/modernizr-2.5.3.min.js'></script>
   -->
     <%= javascript_include_tag 'modernizr-2.5.3.min'%>
</head>
<body>

<%= render "layouts/header" %>
<%= yield %>

</body>
</html>
